.big-comment-box{
    min-width: 500px;
    height: 250px;
    border: 2px solid red;
    --mask: 
    linear-gradient(#000 0 0) 50%/calc(100% - 22.20px) calc(100% - 22.20px) no-repeat,
    radial-gradient(farthest-side,#000 98%,#0000) 0 0/24px 24px round;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}