:root{
    --curly-border: 
    --mask: 
    linear-gradient(#000 0 0) 50%/calc(100% - 14.80px) calc(100% - 14.80px) no-repeat,
    radial-gradient(farthest-side,#000 98%,#0000) 0 0/16px 16px round;
    -webkit-mask: var(--mask);
          mask: var(--mask);
    }
.favorite-product{
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid  whitesmoke;
    max-width: 250px;
    height: 405px;
    padding: 10px;
    margin: 5px;
    .product-image-div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        padding: 5px;
        width: 220px;
        border-radius: 8px;
        border: 5px solid pink;
        border-style: var(--curly-border);
    
        .product-image{
            width: 215px;
            height: 250px;
            border-radius: 8px;
            --mask: 
            linear-gradient(#000 0 0) 50%/calc(100% - 14.80px) calc(100% - 14.80px) no-repeat,
            radial-gradient(farthest-side,#000 98%,#0000) 0 0/16px 16px round;
          -webkit-mask: var(--mask);
                  mask: var(--mask);
        }
            }
        
    .details-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: whitesmoke;
        border-radius: 8px;
        padding: 5px;
        .product-title{
            font-weight: 800;
            border-bottom:  2px solid transparent;
            transition: 0.5s ease-in;
            color: purple;
            &:hover{
                border-bottom: 2px solid red;
                border-radius: 2px;
                font-size: 20px;
            }
        }
        .product-price{
            color: black;
            font-weight: 600;
        }
    
    }

}


