
.favorite-product{
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid  whitesmoke;
    max-width: 250px;
    height: 370px;
    padding: 10px;
    margin: 5px;
    .product-image-div{
        display: flex;
        align-items: center;
        justify-content: center;
        .product-image{
            max-width: 260px;
            height: 280px;
            border-radius: 8px;
            }
        }
    .details-section{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
    }
}
   


