header{
    width: 100%;
    position: fixed;
    transition: 0.5s ease all;
    background-color: gray;
    nav{
    
    backdrop-filter: blur(10px);
        &.nav-routes {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: pink;
        transition: 0.5s ease all;
        padding: 10px;
        width: 90%;
        margin: 0 auto;
        @media (min-width: 1140px) {
            max-width: 1140px;
        }
   
        .active{
        font-weight: bold;
        color: green;
        font-weight: 600;
        text-decoration: none;
        font-size: larger;
        }
        .nav-elements{
        text-decoration: none;
        font-size: 25px;
        color: black;
        } 
        .cart{
        // position: absolute;
        // right: 5%;
    }
}
}
}
