header{
    width: 100%;
    position: fixed;
    transition: 0.5s ease all;
    background-color: transparent;
    z-index: 0;
    color: transparent;
    height: 68px;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;  
        background: rgb(238,174,202);
        background: rgb(240,145,186);
        background: rgb(240,145,186);
        background: radial-gradient(circle, rgba(240,145,186,1) 21%, rgba(176,175,228,1) 100%);
        transition: 0.5s ease all;
        padding: 5px 0;
        width: 100%;
        margin: 0 auto;
        text-decoration: none;
        position: relative;


        @media (min-width: 1140px) {
            max-width: 1300px;
        }
        @media (max-width: 749px) {
            width: 100%;
            padding: 20px;
        }
        ul,
        .link {
            color: blue;
            list-style: none;
            text-decoration: none;
        }
        li {
            text-transform: uppercase;
            padding: 16px;
            margin-left: 16px;
        }
        
        .link {
            font-weight: 700;
            font-style:italic;
            font-size: 20px;
            transition: 0.5s ease all;
            padding-bottom: 4px;
            border-bottom:  2px solid transparent;
            &:hover {
                color: #125159;
                border-color: purple;
            }
        }
        .branding {
            display: flex;
            align-items: center;
            margin-left: 80px;
            @media (max-width: 749px) {
                margin-left: 0px;
            }
            li.img{
                @media (max-width: 749px) {
                    padding-bottom: 0px;
            }
        }
            img {
                width: 150px;
                position: absolute;
                height: 155px;
                left: 44%;
                top: -10%;
                transition: .5s ease all;
                @media (max-width: 749px) {
                    position: relative;
                    width: 80px;
                    height: 80px;
                    left: 11%;
                }
            }
        }
   
        .active{
        font-weight: bold;
        font-size: 23px !important;
        color: #371563;
        font-weight: 700 !important;
        text-decoration: none;
        font-size: larger;
     
        }
        .cart{
        position: absolute;
        right: 3%;
        color: black;
        font-weight: 700;
    }
        .navigation {
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: center;
    }
        .icon{
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            left: 24px;
            height: 100%;
            color: black;
            transform: rotateZ(180deg);
            .burger{
            cursor: pointer;
            font-size: 24px;
            transition: .8s ease all;
        
        }
            .close-nav{
                color: black;
                font-weight: 600;  
            }   
    }
        .icon-active{
            
            color: red;
            display: inline-block;
            
            
            

    }
        .dropdown-nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            width: 100%;
            max-width: 215px;
            height: 100%;
            background: radial-gradient(circle, rgba(240,145,186,1) 21%, rgba(176,175,228,1) 100%);
            top: 4.8%;
            left: 0;
            padding-left: 0px;
            line-height: 5px;
            padding-top: 10px;
      
            li{
                margin-left: 0;
                .link{
                    color: black;
                    font-weight: 600;
            }
        }

    }
        .mobile-nav-enter-active, .mobile-nav-leave-active {
            transition:  1s ease all;
        }
        .mobile-nav-enter-from, .mobile-nav-leave-to {
            transform: translateX((-250px));
        }
        .mobile-nav-enter-to {
            transform: translateX((0));
        }

}
}
.scrolled-nav{
    // box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        nav{
            padding: 8px 0;
            .branding{
            // img{
            //     width: 40px;
            //     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

            // }
        }
    }
}

