.product-item{
    background-color: aqua;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid  whitesmoke;
    max-width: 250px;
    height: 405px;
    padding: 10px;
    margin: 5px;
}