.review-article{
    max-width: 800px;
    & h3{
        font-size: 2rem;
    }
    .review-details{
        display: flex;
        .review-image{
            width: 100px;
            height: 70px;
            border-radius: 50%;

        }
        & h3 {
            font-size: 1.5rem;
        }
        & p {
            font-family: cursive;
        }
    }
    .raiting-image{
        width: 9rem;
        height: 1.2rem;
    }
}