.review-article{
    max-width: 800px;
    & h3{
        font-size: 2rem;
    }
    .review-details{
        display: flex;
        .review-image{
            width: 250px;
            height: 180px;

        }
    }
}