.review-article{
    max-width: 800px;
    & h3{
        font-size: 2rem;
    }
    .review-details{
        display: flex;
        .review-image{
            width: 100px;
            height: 50px;
            border-radius: 50%;

        }
    }
}