.product-article{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: row;
    .product-wrapper-div-img{
        .single-product-img{
            width: 450px;
            height: 450px;
            border-radius: 5px;
        }
    }
}