.product-article {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: row;
  .product-wrapper-div-img {
    .single-product-img {
      width: 450px;
      height: 450px;
      border-radius: 10px;
      border: 20px solid palevioletred;

      --mask: linear-gradient(#000 0 0) 50% / calc(100% - 22.2px) calc(100% - 22.2px) no-repeat,
        radial-gradient(farthest-side, #000 98%, #0000) 0 0/24px 24px round;
      -webkit-mask: var(--mask);
      mask: var(--mask);
    }
  }
  .product-wrapper-div-details {
    height: 400px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
    .product-wrapper-div-details h3, .product-wrapper-div-details .star-raiting{
    font-size: 2rem;
    font-family: cursive;
    }

    .product-wrapper-div-details > p {
    font-size: 1.5rem;
   }
   .product-wrapper-div-details div input{
    border: 2px solid pink;
   }
}

