 .chef-img-div{
    border-radius: 50%;
    border: 2px solid grey;
    width: 180px;
    height: 180px;
    .chef-img{
        width: 175ppx;
        height: 175px;
        border-radius: 50%;
        
    }
}
