.carousel-item{
    background-color: #cba3d3;
    max-width: 300px;
    height: 280px;
    .images-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .client-img{
            border-radius: 50px;
            width: 80px;
            height: 100px;
            margin: 10px 0;
            }
        .details-img{
            max-width: 100px;
            max-height: 40px;
        }
    }
    }
