.universal-card{
    max-width: 300px;
    height: 300px;
    padding: 10px;
    .universal-card-img{
        padding: 5px;
        width: 250px;
        height: 200px;
        border-radius: 8px;


        }
    .universal-card-details{
        }
    }