.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    width: 380px;
    height: 250px;
    align-items: center;
    justify-content: center;
    }